* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    line-height: 1.6;
}

h1,h3{
    line-height: 1.8;
}
    
/* 對所有圖片的設定 */
img {
    width: 100%;
    height: auto;
    
}
    
/* banner圖的設定 */
.banner{
    width: 100%;
    height: auto;
    object-fit: cover;
}
    
/* 麵包屑導航的設定 */
.breadcrumb {
    display: flex;
    list-style: none;
    padding: 20px 50px;
    background-color: #ECEDE9;
   
}
    
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    margin: 0 5px;
}

.breadcrumb-item a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}
    
/* 內文部分 */
.container {
    max-width: 1200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.image-container{
    width: 60%;
    margin: 20px auto;
    text-align: center;
}

.image-container img{
    width: 100%;
    height: auto;
    max-width: 100%;
}
    

/* 更多文章 */
.articles-header {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 2px solid #333; /* 底線顏色與厚度 */
    margin-top: 50px;
}

.articles-header h2 {
    font-size: 24px;
    font-weight: bold;
}

.more-articles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 20px 0;
}

@media (max-width: 768px) {
    .more-articles {
        flex-direction: column;
    }

    .article-card {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .more-articles {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .article-card {
        width: 48%;
    }
}

/* 左右箭頭樣式 */
.arrow {
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow:hover {
    background-color: #aaa;
}

/* 單個文章卡片樣式 */
.article-card {
    width: 350px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.article-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.article-card p {
    font-size: 14px;
    color: #888;
    margin: 10px 0;
}

.article-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.arrow:active {
    transform: scale(0.9);
}